<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='trip.js') }} "></script>
    <title>NSW Transport | Trip Finder</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NSW Transport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stopFinder">Stop Finder</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tripFinder">Trip Finder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favourites">Favourites</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Trip Finder</h1>
    <form method="POST" id="tripForm">
        <!-- Depart/Arrive Stop Input Boxes -->
        <div class="form-group" id="departDiv">
            <input type="text" class="form-control" id="departBox" name="departBox" placeholder="Depart Stop ID" value="{{ departTerm }}">
        </div>
        <div class="form-group" id="arriveDiv">
            <input type="text" class="form-control" id="arriveBox" name="arriveBox" placeholder="Arrive Stop ID" value="{{ arriveTerm }}">
        </div>

        <!-- Radio Boxes -->
        <div class="form-check">
            <input class="form-check-input" type="radio" name="depArrRadio" id="departRadio" value="dep" checked>
            <label class="form-check-label" for="departLabel">
                Depart from
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="depArrRadio" id="arriveRadio" value="arr">
            <label class="form-check-label" for="arriveRadio2">
                Arrive at
            </label>
        </div>

        <!-- Date Picker -->
        <div class="form-group" id="datePicker">
            <label>Enter Date:</label>
            <input type="date" class="form-control" id="dateBox" name="dateBox" placeholder="Date" value={{dateValue}}>
        </div>

        <!-- Time Picker -->
        <div class="form-group" id="timePicker">
            <label>Enter Time:</label>
            <input type="time" class="form-control" id="timeBox" name="timeBox" placeholder="Time" value={{timeValue}}>
        </div>

        <button id="tripButton" type="submit" class="btn btn-primary">Go!</button>
    </form>
</body>

</html>