{% extends 'stopFinder.html' %}
{% block stopFinderResults %}

<div id="searchResultTable">
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Stop ID</th>
            <th scope="col">Add To Locations</th>
            <th scope="col">Add To Locations</th>
        </thead>
        <tbody>
        {% for stop in stops %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ stop['name'] }} </td>
                <td>{{ stop['type'] }} </td>
                <td class="stopNum">{{ stop['id'] }} </td>
                <td><button type="button" class="btn btn-success locationButton startButton">Start Location</button></td>
                <td><button type="button" class="btn btn-success locationButton endButton" >End Location</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<ul class="list-group" id="locations">
    <li class="list-group-item" id="startLoc" hidden>Start Location: {{locationStart}}</li>
    <li class="list-group-item" id="endLoc" hidden>End Location: {{locationEnd}}</li>
</ul>

{% endblock %}